:root {
  --secondary-color: #34547a;
  --text-color: #727272;
  --heading-color: black;
  --text-secondary-color: white;
  --background-site-color: #EEEFF1;

  --text-font-family: 'Roboto', sans-serif;
  --logo-font-family: 'Revalia';
  font-size: 16px;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-color);
}

.main-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.6;
  color: var(--heading-color);
}

.sub-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.2;
  color: var(--heading-color);
}

.btn {
  border: none;
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  padding: 25px 41px;
}

.link {
  
}